<%- include('ek/header', {bot, user, path}) %>

<title>WorldBotlist</title>
<div class="container">
 
  <div align="center">
    <input type="search" placeholder="Bot ara..." id="ara" name="ara">
    <br>
    <select id="etiketselect">
      <option disabled selected>Bir etiket seçiniz.</option>
      <option value="noneFilter">Filtre kapat</option>
      <option value="Moderasyon">Moderasyon</option>
      <option value="Müzik">Müzik</option>
      <option value="Ayarlar">Ayarlar</option>
      <option value="Eğlence">Eğlence</option>
      <option value="Web Panel">Web Panel</option>
    </select>

    <p style="color:#333;user-select:none;">
      <a style="color:red">Not:</a> Botları bot adını, kütüphanesini, kısa açıklamasını, sahip adını ve etiketlerini yazarak aratabilirsiniz.<br>Botların etiketlerini seçerekte etiket üzerinden bot aratabilirsiniz. 
    </p>
    
  </div>
   <h5 style="color:#FF5722;user-select:none;">Sertifikalı Botlar</h5>
  
  <div class="cards">
    <% if (bot.ayar.has('botlar')) { %>
  <% const sorted = Object.keys(bot.ayar.fetch('botlar')).sort((a, b) => { return (bot.ayar.fetch(`botlar.${b}.oy`) || 0) - (bot.ayar.fetch(`botlar.${a}.oy`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('botlar')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`botlar.${idd}.durum`) === true) { %>
    <% if (bot.ayar.fetch(`botlar.${idd}.durum`) === "Onaylı") { %>
      <% if (bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
       <div class="col-12 col-sm-6 col-md-4">
        <div class="cards2" style="background-color:#fff; width:16rem;">
        <div value="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" align="center" class="card-img">
    <center><a href="/bot/<%=idd%>"><img src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" class="card-img-top" alt="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" title="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>"></a></center>
      <span class="cards-sertifika"><a><img src="https://cdn.discordapp.com/emojis/522886304615366676.png" width="30px" height="30px" alt="Sertifikalı" title="Sertifikalı"></a></span> 
      <center>
      <div class="cards-oy">Oy: </strong><%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></div>
      <div class="cards-kutuphane"><%=bot.ayar.fetch(`botlar.${idd}.kutuphane`)%></div>
    </center>
         </div>
  <center>
      <div class="cards-botisim"><a style="color:#222"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a></div>
      <div class="cards-sahipisim"><%=bot.ayar.fetch(`botlar.${idd}.sahip`)%></div>
      <div class="cards-kisaaciklama"><%=bot.ayar.fetch(`botlar.${idd}.kisaaciklama`)%></div>
    </center>
    <div class="cards-alt">
     <a href="/bot/<%=idd%>">Görüntüle</a>
     <a href="https://discordapp.com/oauth2/authorize?client_id=<%=idd%>&scope=bot&permissions=8" style="border-right:none !important;">Davet Et</a>
     </div>
         
    </div>
    </div>
      <% } %>
    <% } %>
    <% } %>
   <% } %>
    <% } else { %>
    <div align="center">
      <h5 align="center" style="color:#222">
      Sistemde hiç bot bulunmuyor.
      </h5>
    </div>
    <% } %>  
</div>
  

  <h5 style="color:#66BB6A;user-select:none;">Onaylı Botlar</h5>
  <div class="cards">
  
   <% if (bot.ayar.has('botlar')) { %>
  <% const sorted = Object.keys(bot.ayar.fetch('botlar')).sort((a, b) => { return (bot.ayar.fetch(`botlar.${b}.oy`) || 0) - (bot.ayar.fetch(`botlar.${a}.oy`) || 0) }) %>
  <% const top = sorted.splice(0, Object.keys(bot.ayar.fetch('botlar')).length) %>
  <% const map = top.map(x=>x) %>
	<% for(var i = 0; i < Object.keys(bot.ayar.fetch('botlar')).length; i++) { %>
  <% let idd = map[i] %>
   <% if(bot.ayar.has(`botlar.${idd}.durum`) === true) { %>
		<% if (bot.ayar.fetch(`botlar.${idd}.durum`) === "Onaylı") { %>
    <% if (bot.ayar.has(`botlar.${idd}.sertifika`) === false) { %>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="cards2" style="background-color:#fff; width:16rem;">
    <div value="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" align="center" class="card-img">
  <center><a href="/bot/<%=idd%>"><img src="<%=bot.ayar.fetch(`botlar.${idd}.avatar`)%>" class="card-img-top" alt="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>" title="<%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%>"></a></center>
          <% if(bot.ayar.has(`botlar.${idd}.sertifika`) === true) { %>
      <span class="cards-sertifika"><a style="color:darkorange"><img src="https://cdn.discordapp.com/emojis/522886304615366676.png" width="30px" height="30px"></a></span>
       <% } %>
          <center>
            <div class="cards-oy">Oy: </strong><%=bot.ayar.fetch(`botlar.${idd}.oy`)||0%></div>
      <div class="cards-kutuphane"><%=bot.ayar.fetch(`botlar.${idd}.kutuphane`)%></div>
    </center>
                     
          </div>
      <center>
  <div class="cards-botisim"><a style="color:#222"><%=bot.useful.seg(bot.ayar.fetch(`botlar.${idd}.isim`), 5)%></a></div>
  <div class="cards-botisim"><%=bot.ayar.fetch(`botlar.${idd}.sahip`)%></div>
  <div class="cards-botisim"><%=bot.ayar.fetch(`botlar.${idd}.kisaaciklama`)%></div>
        </center>
    <div class="cards-alt">
     <a href="/bot/<%=idd%>">Görüntüle</a>
     <a href="https://discordapp.com/oauth2/authorize?client_id=<%=idd%>&scope=bot&permissions=8" style="border-right:none !important;">Davet Et</a>
     </div>
    </div>
    </div>
      <% } %>
    <% } %>
   <% } %>
   <% } %>
   <% } else {%>
   <center><h5 style="color:#222">
     Sistemde hiç bot bulunmuyor.
     </h5></center>
   <% } %>
   </div>
</div></div>

<script>
$(document).ready(function(){
 $("#ara").keyup(function(){
    var value = $(this).val().toLowerCase();
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
  //etiket filtresi
  $("#etiketselect").change(function(){
    var value = $(this).val();
    if (value === 'noneFilter') {
      window.location.reload(true);
      return
    }
    $(".col-12, .col-sm-6, .col-md-4 .card").filter(function(){
      $(this).toggle($(this).text().indexOf(value) > -1)
    });
  })
  ;
});
</script>


<% include ./ek/footer %>