<%- include('ek/header', {bot, user, path}) %>
<script type="text/javascript">
var title = "WorldBotList - <%=bot.ayar.fetch(`sunucular.${id}.isim`)%>";
document.title = title;
</script>
<div class="post post-single">
                  <br>
                        <div class="post-meta">
                            <div align="center"><span class="yapimci"><i class="fa fa-clock-o"></i> <strong>Yapımcı: </strong><a href="/kullanici/<%=bot.ayar.fetch(`botlar.${id}.sahipid`)%>"><%=bot.ayar.fetch(`botlar.${id}.sahip`)%></a></span><a style="color:#222"> | </a>
                          </div>
                        </div><br>
                        <div class="post-thumbnail">
                            <div align="center"><img src="<%=bot.ayar.fetch(`sunucular.${id}.avatar`)%>"
                                width="300" height="300" class="botavatar"><br><span class="botisim"><%=bot.ayar.fetch(`sunucular.${id}.isim`)%></span>
                          
      <div align="center" style="margin-top: 10px;">                    
  <% if (!user) { %>     
          <a href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8"><button class="davetet"><i aria-hiddden="true"></i> Davet Et</button></a>
        <a href="/bot/<%=id%>/rapor"><button class="rapor"><i aria-hidden="true"></i>Rapor Et</button></a>
        
          <% if (user) { %>
          <% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
          <a href="/kullanici/<%=user.id%>/panel/<%=id%>/duzenle"><button class="duzenle"><i aria-hiddden="true"></i> Düzenle</button></a>
        <a href="/kullanici/<%=user.id%>/panel/<%=id%>/sil"><button class="sil "><i aria-hidden="true"></i> Sil</button></a>
          <% } %>
        <% } %>
                      
                </div>  
  </div>
  <br>
  <div class="uzunaciklama" class="jimbotron">
    <% if (bot.ayar.has(`sunucular.${id}.uzunaciklama`) || bot.ayar.fetch(`sunucular.${id}.uzunaciklama`) !== undefined || bot.ayar.fetch(`sunucular.${id}.uzunaciklama`) !== null) { %>
<% var xx %>
<% for (var ii = 0; ii < bot.tags.length; ii++) { %>
  <% if(bot.ayar.fetch(`sunucular.${id}.uzunaciklama`).includes(bot.tags[ii]) === false) {%>
    <% xx = false %>
 <% } %>
    <% if (bot.ayar.fetch(`sunucular.${id}.uzunaciklama`).includes(bot.tags[ii]) === true) { %>
     <% x = true %>
    <% } %>
<% } %>

<% if (x === false) { %>
  <p><%=bot.ayar.fetch(`sunucular.${id}.uzunaciklama`)%></p>
<% } else if (x === true) { %>
    <% let $ = bot.htmll.load(bot.ayar.fetch(`sunucular.${id}.uzunaciklama`)) %>
  <%- $.html() %>
    <% } %>
    
    <% } else { %>
    <p>Belirtilmemiş</p>
    <% } %>
    
  <br></div>
        
        </div>

      </div>
</div>

<% include ./ek/footer %>